extends layout

block content
    
    div(class='well')
        form(method='post')
            table
                tr
                    td(class="col-xs-11")
                        h2 Listado de alumnos:
                    td(class="col-xs-1")
                        button(type='submit' class='btn btn-success') actualizar seleccion
            table(class='table table-fixed')
                thead
                    tr
                        th(class="col-xs-1") ID
                        th(class="col-xs-2") Nombre
                        th(class="col-xs-4") Apellido
                        th(class="col-xs-4") Email
                        th(class="col-xs-1") Actualizar
                tbody
                    each alumno, i in alumnoList
                        tr(class="actualizar" id="alum"+i)
                            td(class="col-xs-1")  
                                input(type='text' name='id' id='id'+i value="#{alumno.id}" disabled='true'  size='3' required)
                            td(class="col-xs-2")
                                input(type='text' name='nombre' id='nombre'+i value='#{alumno.nombre}' disabled='true'  size='15' required)
                            td(class="col-xs-4")
                                input(type='text' name='apellido' id='apellido'+i value='#{alumno.apellido}' disabled='true'  size='25' required)
                            td(class="col-xs-4")
                                input(type='text' name='email' id='email'+i value='#{alumno.email}' disabled='true'  size='40' required)
                            td(class="col-xs-1") 
                                input(type='checkbox' name='_id' value="#{alumno._id}" onClick='desbloquearAl('+i+')')
                        